* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
}

body {
    min-height: 100vh;
    padding: 40px;
    background: radial-gradient(circle at top, #263238, #050505 70%);
    color: white;
}

h1 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 40px;
}

.filters button {
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
    background: #111;
    color: white;
    cursor: pointer;
    border: 1px solid #444;
    transition: .4s;
}

.filters button:hover,
.filters button.active {
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    transform: translateY(-5px);
    box-shadow: 0 10px 25px #0072ff;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

.image-card {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    background: #111;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .8);
    transition: .5s;
}

.image-card:hover {
    transform: translateY(-12px);
    box-shadow: 0 20px 50px #00e5ff;
}

.image-card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    cursor: pointer;
    transition: .6s;
}

.image-card:hover img {
    transform: scale(1.15);
    filter: brightness(70%) contrast(130%) saturate(150%);
}

.image-card::after {
    content: "View Image";
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    padding: 15px;
    text-align: center;
    background: rgba(0, 0, 0, .7);
    transition: .4s;
    color: white;
}

.image-card:hover::after {
    bottom: 0;
}

#lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, .95);
    align-items: center;
    justify-content: center;
}

#lightbox img {
    max-width: 85%;
    max-height: 80%;
    border-radius: 20px;
    box-shadow: 0 0 40px #00e5ff;
    animation: zoom .4s;
}

@keyframes zoom {
    from {
        transform: scale(.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

button {
    font-size: 18px;
}

.close,.prev,.next {
    position: absolute;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.close {
    right: 40px;
    top: 25px;
    font-size: 50px;
}

.prev {
    left: 40px;
    font-size: 45px;
}

.next {
    right: 40px;
    font-size: 45px;
}

@media(max-width:600px) {
    h1 {
        font-size: 30px;
    }

    .gallery {
        grid-template-columns: 1fr;
    }

    #lightbox img {
        width: 90%;
    }
}